// Comment: RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Variables
$base-size-default: 16;

:root {
  --Moderate_violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed';
  // Note for text colors:

  //     1. "Verified Graduate" has the same color as the person's name with 50% opacity
  //  2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
}

// Functions
@function size($target, $basesize: $base-size-default) {

  @return ($target / $basesize) * 1em;
}

@function fontSize($target, $basesize: $base-size-default) {

  @return ($target / $basesize) * 1rem;
}

//Blocks

.container {
  min-height: 100vh;
  min-width: 255px;
  max-width: 100%;
  padding-top: size(71);
  padding-left: size(24, );
  padding-right: size(24, );
  padding-bottom: size(71);
  background-color: var(--Light-grayish-blue);
  display: grid;
  margin: 0 auto;
  // grid-template-columns: repeat(4, minmax(300px, 1fr));
  // what's the problem with the above line?
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  row-gap: size(24, );
  column-gap: size(30, );





}

// display: grid;
// grid-template-columns: 1fr;

.card {
  position: relative;
  color: var(--White);
  padding: 2em;
  // padding-bottom: 0;
  padding-top: size(26, );
  border-radius: fontSize(8, );
  // width: minmax(320px, 1fr); todo
  // min-width: minmax();

  &__quote {
    position: absolute;
    right: fontSize(24, );
    top: 0;
    // z-index: 2;
    // background-color: transparent;
    width: 104px;
    height: 102px;
  }

  //modifier

  &--Moderate_violet {
    background-color: var(--Moderate_violet);
  }

  &--Very-dark-blackish-blue {
    background-color: var(--Very-dark-blackish-blue);
  }

  &--Very-dark-grayish-blue {
    background-color: var(--Very-dark-grayish-blue);
  }

  &--White {
    background-color: var(--White);
    color: var(--Very-dark-blackish-blue);
    // --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    //   --Very-dark-blackish-blue:
  }

  //elements
  &__author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: size(18, );
  }

  &__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: size(17);
    // padding-bottom: size(17);
  }

  &__image {
    width: size(28);
    border-radius: 50%;
  }

  &__name {
    font-weight: 500;
    font-size: fontSize(13);
  }

  &__title {
    font-weight: 500;
    font-size: fontSize(11);
    opacity: 50%;

  }

  &__subject {
    font-size: fontSize(20, );
    font-weight: 600;
    padding-bottom: size(40, );
    // padding-bottom: size(40, );

    // z-index: 1;
  }

  &__details {
    font-size: fontSize(13, );
    font-weight: 500;
    opacity: 70%;
    line-height: 18px;
  }


}

@media (max-width:320px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:960px) {
  .container {
    // padding-left: size(165, );
    // padding-right: size(165, );
    // padding-top: size(164, );
    // padding-bottom: size(164, );
    // grid-template-columns: repeat(auto-fit, repeat(minmax(255px, 1fr)));
    display: grid;
    grid-template: auto auto / repeat(4, 255px);
    justify-content: center;
    // grid-template-areas: "card1 card1 card2 card3"
    //   "card4 card5 card5 card3";


    .card {
      &__subject {
        padding-bottom: size(16, 20);
      }

      &__author {
        padding-bottom: size(18, );
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .card:first-child {
      grid-column: span 2;
    }

    .card:nth-child(2) {}

    .card:nth-child(3) {
      grid-row-start: 2;
    }

    .card:nth-child(4) {
      grid-row-start: 2;
      grid-column: span 2;
    }

    .card:nth-child(5) {
      grid-row: span 2;
    }
  }
}

// @media (min-width:)