* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate_violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed";
}

body {
  display: grid;
  grid-template: 1fr 1fr;
  justify-content: center;
  background-color: var(--Light-grayish-blue);
}

.container {
  min-height: 100vh;
  min-width: 255px;
  max-width: 100%;
  padding-top: 4.4375em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 4.4375em;
  background-color: var(--Light-grayish-blue);
  display: grid;
  row-gap: 1.5em;
  -moz-column-gap: 1.875em;
       column-gap: 1.875em;
}

.card {
  position: relative;
  color: var(--White);
  padding: 2em;
  padding-top: 1.625em;
  border-radius: 0.5rem;
}
.card__quote {
  position: absolute;
  right: 1.5rem;
  top: 0;
  width: 104px;
  height: 102px;
}
.card--quoteCycle {
  border: 2px solid #A775F1;
}
.card--Moderate_violet {
  background: url(./images/bg-pattern-quotation.svg);
  background-color: var(--Moderate_violet);
  background-repeat: no-repeat;
  background-position: top right 7%;
}
.card--Very-dark-blackish-blue {
  background-color: var(--Very-dark-blackish-blue);
}
.card--Very-dark-grayish-blue {
  background-color: var(--Very-dark-grayish-blue);
}
.card--White {
  background-color: var(--White);
  color: var(--Very-dark-blackish-blue);
}
.card__author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.125em;
}
.card__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.0625em;
}
.card__image {
  width: 1.75em;
  border-radius: 50%;
}
.card__name {
  font-weight: 500;
  font-size: 0.8125rem;
}
.card__title {
  font-weight: 500;
  font-size: 0.6875rem;
  opacity: 50%;
}
.card__subject {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 2.5em;
}
.card__details {
  font-size: 0.8125rem;
  font-weight: 500;
  opacity: 70%;
  line-height: 18px;
}

@media (max-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 700px) {
  .container {
    grid-template-areas: " . . " " . . " " . . ";
    margin: 0 2rem;
  }
  .container .card__subject {
    padding-bottom: 0.8em;
  }
  .container .card--Moderate_violet {
    background-position: top right 18%;
  }
  .container .card__author {
    padding-bottom: 1.125em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .card:first-child {
    grid-column: span 2;
  }
}
@media (min-width: 1129px) {
  .container {
    grid-template-columns: repeat(4, 255px);
    justify-content: center;
    align-content: center;
  }
  .container .card__subject {
    padding-bottom: 0.8em;
  }
  .container .card__author {
    padding-bottom: 1.125em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .container .card:first-child {
    grid-column: span 2;
  }
  .container .card:nth-child(3) {
    grid-row-start: 2;
  }
  .container .card:nth-child(4) {
    grid-row-start: 2;
    grid-column: span 2;
  }
  .container .card:nth-child(5) {
    grid-row: span 2;
  }
}/*# sourceMappingURL=index.css.map */