*,
*::before,
*::after,
*::marker {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --white-coffee: hsl(30, 18%, 87%);
  font-size: 16px;
  --base-font-size: 16;
  font-family: "Outfit", "Young Serif";
  color: var(--Wenge-Brown);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin-block: var(--dynamic-margin, 0px);
}
.wrapper .header {
  width: 100%;
}
.wrapper .header .meal {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main {
  padding-inline: 2em;
  padding-block: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
.wrapper .main .recipe__info {
  display: grid;
  grid-template-rows: 2;
  row-gap: 1.5em;
}
.wrapper .main .recipe__info .recipe__name {
  font-family: "Young Serif";
  font-size: 2.25em;
  line-height: 100%;
  color: var(--Dark-Charcoal);
}
.wrapper .main .recipe__info .recipe__desc {
  line-height: 150%;
  color: var(--Wenge-Brown);
}
.wrapper .main .line {
  border-top: 1px solid var(--white-coffee);
  width: 100%;
}
.wrapper .main .ul__title {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 100%;
  color: var(--Dark-Raspberry);
}
.wrapper .main .grid {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1.5em;
}
.wrapper .main .grid--gap8 {
  row-gap: 8px;
}
.wrapper .main .boldFont {
  color: var(--Wenge-Brown);
  font-weight: 700;
}
.wrapper .main .recipe__prepare {
  background-color: var(--Rose-White);
  padding: 1.5em;
  align-self: stretch;
  display: grid;
  grid-template-rows: 2;
  row-gap: 1em;
}
.wrapper .main .recipe__prepare .recipe__prepare_title {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 100%;
  color: var(--Dark-Raspberry);
}
.wrapper .main .recipe__prepare .recipe__times {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 100%;
  color: var(--Dark-Raspberry);
  list-style-position: inside;
}
.wrapper .main .recipe__prepare .recipe__times li {
  line-height: 1.5;
  color: var(--Wenge-Brown);
  font-size: 0.8em;
  margin-left: 8px;
  font-weight: 400;
}
.wrapper .main .recipe__prepare .recipe__times li span {
  display: inline-block;
  padding-left: 1rem;
}
.wrapper .main .recipe__prepare .recipe__times li::marker {
  color: var(--Dark-Raspberry);
  font-size: 0.8em;
}
.wrapper .main .ul--style {
  list-style-position: inside;
}
.wrapper .main .recipe__title {
  font-size: 1.75rem;
  font-family: "Young Serif";
  color: var(--Nutmeg);
  font-weight: normal;
  line-height: 100%;
}
.wrapper .main .recipe__ingredients {
  display: grid;
  grid-template-rows: auto;
  gap: 1.5rem;
}
.wrapper .main .recipe__ingredients .ul {
  margin-left: 8px;
  list-style-position: outside;
  font-size: 1rem;
}
.wrapper .main .recipe__ingredients .li {
  margin-left: 1em;
  padding-left: 1em;
  line-height: 150%;
}
.wrapper .main .recipe__ingredients .li::marker {
  color: var(--Dark-Raspberry);
  font-size: 0.8em;
}
.wrapper .main .recipe__instructions .ul {
  margin-left: 8px;
}
.wrapper .main .recipe__instructions .ul .li {
  margin-left: 1em;
  list-style-position: outside;
  padding-left: 1em;
}
.wrapper .main .recipe__instructions .ul .li::marker {
  color: var(--Dark-Raspberry);
  font-size: 1em;
  font-weight: bold;
}
.wrapper .main .nutrition__rows {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  padding-inline: 2em;
  padding-block-start: 0.75em;
}
.wrapper .main .nutrition__rows:not(:last-child) {
  padding-block-end: 0.75em;
  border-bottom: 1px solid var(--white-coffee);
}
.wrapper .main .nutrition__rows:first-child {
  padding-block-end: 0.75em;
  padding-block-start: 0;
  border-bottom: 1px solid var(--white-coffee);
}
.wrapper .main .nutrition__rows .nutrition__column1 {
  flex: 1;
}
.wrapper .main .nutrition__rows .nutrition__column2 {
  flex: 1;
  line-height: 150%;
  font-weight: 700;
  color: var(--Nutmeg);
}

@media (min-width: 584px) {
  body {
    background-color: var(--Eggshell);
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper {
    margin-inline: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 736px;
  }
  .wrapper .header {
    background-color: white;
    width: 100%;
    padding: 2.5em;
    padding-bottom: 0;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
  }
  .wrapper .header .image {
    border-radius: 0.75em;
  }
  .wrapper .main {
    background-color: white;
    justify-content: center;
    max-width: 100%;
    padding-inline: 2.5em;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }
  .wrapper .main .recipe__info .recipe__name {
    font-size: 2.5em;
    font-weight: 400;
    color: var(--Dark-Charcoal);
  }
  .wrapper .main .recipe__prepare {
    padding: 1.75em;
  }
  .wrapper .main .recipe__prepare .recipe__times ul li {
    line-height: 1.5;
  }
  .wrapper .main .recipe__prepare .recipe__times ul li span {
    font-size: 1.25em;
  }
  .wrapper .main .recipe__prepare .recipe__times ul li::marker {
    color: var(--Dark-Raspberry);
    font-size: 10px;
  }
  .wrapper .main .recipe__ingredients {
    align-self: flex-start;
    font-size: 1.75rem;
  }
  .wrapper .main .recipe__ingredients .ul .li {
    font-size: 1rem;
    line-height: 150%;
  }
  .wrapper .main .recipe__instructions .ul .li {
    line-height: 1.5;
  }
  .wrapper .main .recipe__nutrition {
    width: 100%;
    align-self: flex-start;
    justify-content: stretch;
  }
  .wrapper .main .recipe__nutrition p {
    line-height: 1.5;
  }
}/*# sourceMappingURL=index.css.map */