*,
*::before,
*::after,
*::marker {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  //primary
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  // --Brandy-Red: hsl(14, 45%, 36%);
  //neutral

  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --white-coffee: hsl(30, 18%, 87%);
  font-size: 16px;
  --base-font-size: 16;
  font-family: 'Outfit', 'Young Serif';
  color: var(--Wenge-Brown);

  //screen size
  //- Mobile: 375px - Desktop: 1440px

}

//variable 
$basefont: 16;

// functions

@function size($target, $base: $basefont) {
  @return $target/$base * 1em;
}

@function rSize($target, $base: $basefont) {
  @return $target/$base * 1rem;
  // note to write 1em instead of 1 em. in that case
  // it won;t work
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin-block: var(--dynamic-margin, 0px);




  .header {
    width: 100%;
    // border: 1px solid red;

    .meal {
      display: block;
      width: 100%;
      object-fit: cover;

    }
  }

  .main {
    padding-inline: size(32, );
    padding-block: size(40, );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rSize(32, );
    overflow: hidden;

    .recipe__info {
      display: grid;
      grid-template-rows: 2;
      row-gap: size(24, );

      .recipe__name {
        font-family: 'Young Serif';
        font-size: size(36, );
        line-height: 100%;
        color: var(--Dark-Charcoal);
        // line-height: 40px;
      }

      .recipe__desc {
        line-height: 150%;
        color: var(--Wenge-Brown);
      }


    }

    .line {
      // height: 1px;
      // background-color: var(--white-coffee);
      border-top: 1px solid var(--white-coffee);
      width: 100%;
    }

    .ul__title {
      font-size: size(20, );
      font-weight: 600;
      line-height: 100%;
      color: var(--Dark-Raspberry);


    }

    .grid {
      display: grid;
      grid-template-rows: auto;
      row-gap: size(24, );
    }

    .grid--gap8 {
      row-gap: 8px;
    }


    .boldFont {
      color: var(--Wenge-Brown);
      font-weight: 700;
    }

    .recipe__prepare {

      background-color: var(--Rose-White);
      padding: size(24, );
      align-self: stretch;
      display: grid;
      grid-template-rows: 2;
      row-gap: size(16, );

      .recipe__prepare_title {
        // text-align: top;
        font-size: size(20, );
        font-weight: 600;
        line-height: 100%;
        color: var(--Dark-Raspberry);


      }

      .recipe__times {
        font-size: size(20, );
        font-weight: 600;
        line-height: 100%;
        color: var(--Dark-Raspberry);
        list-style-position: inside;

        & li {
          line-height: 1.5;
          color: var(--Wenge-Brown);
          font-size: size(16, 20);
          // padding-left: size(16, );
          margin-left: 8px;
          font-weight: 400;

          & span {
            display: inline-block;
            padding-left: 1rem;
          }


          &::marker {
            color: var(--Dark-Raspberry);
            font-size: 0.8em;


          }

          // padding-inline: size(40, );
          & span {}
        }
      }



    }

    .ul--style {
      list-style-position: inside;
    }



    .recipe__title {
      font-size: rSize(28, 16);
      font-family: 'Young Serif';
      color: var(--Nutmeg);
      font-weight: normal;
      line-height: 100%;
    }

    .recipe__ingredients {
      display: grid;
      grid-template-rows: auto;
      gap: rSize(24, 16);


      .ul {
        margin-left: 8px;
        list-style-position: outside;
        font-size: rSize(16, 16);

      }

      .li {
        // margin-left: 1em;
        // list-style-position: outside;
        margin-left: 1em;
        padding-left: 1em;
        line-height: 150%;

        &::marker {
          color: var(--Dark-Raspberry);
          font-size: 0.8em;
          // margin-inline-end: 88px;
          // min-width: 16px;
          // display: inline-block;

        }
      }


    }



    .recipe__instructions {


      // &::after {
      //   content: '';
      //   border: 1px solid var(--white-coffee);
      //   // padding-bottom: 8px;
      // }
      .ul {
        margin-left: 8px;
      }

      .ul .li {
        margin-left: 1em;
        list-style-position: outside;
        padding-left: 1em;


        &::marker {
          color: var(--Dark-Raspberry);
          font-size: 1em;
          font-weight: bold;
          // margin-right: 16px;
          // margin-inline-end: size(16, );

        }
      }
    }

    .nutrition__rows {
      display: flex;
      column-gap: size(16, );
      padding-inline: size(32, );
      padding-block-start: size(12, );

      &:not(:last-child) {
        padding-block-end: size(12, );
        border-bottom: 1px solid var(--white-coffee);
      }

      &:first-child {
        // padding-block-end: size(12, );
        padding-block-end: size(12, );
        padding-block-start: 0;
        border-bottom: 1px solid var(--white-coffee);
      }



      .nutrition__column1 {
        flex: 1;
      }

      .nutrition__column2 {
        flex: 1;
        line-height: 150%;
        font-weight: 700;
        color: var(--Nutmeg);
      }
    }
  }
}

@media (min-width:584px) {
  body {
    background-color: var(--Eggshell);
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }

  // .padding--start8 {

  // }

  .wrapper {
    margin-inline: 2rem;
    // margin-block: 123px;
    justify-content: center;
    align-items: center;
    max-width: 736px;


    // background-color: white;
    // align-items: center;
    .header {
      background-color: white;
      width: 100%;
      padding: size(40, );
      padding-bottom: 0;
      border-top-left-radius: size(24, );
      border-top-right-radius: size(24, );

      .image {
        border-radius: size(12, );
        // border-top-right-radius: size(24, );
      }
    }

    .main {
      background-color: white;
      justify-content: center;
      // max-width: 736px;
      max-width: 100%;
      padding-inline: size(40, );
      border-bottom-left-radius: size(24, );
      border-bottom-right-radius: size(24, );

      .recipe__info {
        .recipe__name {
          font-size: size(40, );
          color: var(--Dark-Charcoal);
        }
      }

      .recipe__prepare {
        padding: size(28, );

        .recipe__times {
          & ul li {
            line-height: 1.5;
            // height: 24px;

            & span {
              font-size: size(20, 16);
            }

            &::marker {
              color: var(--Dark-Raspberry);
              font-size: 10px;

            }
          }
        }
      }

      .recipe__ingredients {
        align-self: flex-start;
        font-size: rSize(28, 16);

        .ul {
          .li {
            font-size: rSize(16, 16);
            line-height: 150%;
          }
        }
      }

      .recipe__instructions {
        & .ul .li {
          line-height: 1.5;
        }
      }

      .recipe__nutrition {
        align-self: flex-start;

        & p {
          line-height: 1.5;
        }
      }

    }

  }


}