*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Tomato-Light: rgba(255, 98, 87, 0.15);
  //  --co: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  font-family: 'Roboto';

  // font-size
  --body-small: 12px;
  --body-normal: 16px;

  // line-height:
  --lh-150: 1.5;
  --lh-100: 1;

  // line-height: 1.5;
}

// bold font
@font-face {
  font-family: 'Roboto';
  src: url(../02-newsletter/assets/fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

// regular font

@font-face {
  font-family: 'Roboto';
  src: url(../02-newsletter/assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

//variables
$base: 16;

@function size($target, $base: $base) {
  @return $target/$base *1em;
}

@function rootSize($target, $base: $base) {
  @return $target/$base *1rem;
}



.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  // min-height: 100vh;
  min-height: 100vh;
  // width: 100%;
  min-width: 375px;



  .box,
  .box2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);

    &.hide {
      display: none;
    }

    .header {
      width: 100%;

      & img {
        width: 100%;
        height: auto;
        /* Maintain aspect ratio */
        display: block;
        /* Remove any extra spacing */
      }


    }

    .main {
      padding: size(40, ) size(24, );

      .promots {
        display: flex;
        flex-direction: column;
        row-gap: rootSize(24, );
        padding-bottom: size(40, );

        .promots__title {
          font-size: rootSize(40, );
        }

        &__desc {
          line-height: var(--lh-150);
        }

        .promots__ul {
          // list-style-position: outside;
          // margin-left: 2em;
          list-style: none;


          & li {

            display: flex;
            line-height: 1.5;
            margin-bottom: size(10, );

            &::before {
              content: url(../02-newsletter/assets/images/icon-list.svg);

            }

            &:last-child {
              margin-bottom: 0;
            }

            & span {
              margin-left: 1rem;
            }

          }
        }
      }

      .form {
        display: grid;
        row-gap: size(24, );

        .form__labels {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .form__email-label {
          font-size: var(--body-small);
          line-height: var(--lh-150);
          margin-bottom: size(8, );
          display: inline-block;
          font-weight: 700;
        }

        .email--invalid {
          color: var(--Tomato);
          display: none;

        }



        .form__email {
          display: block;
          width: 100%;
          padding: size(16, ) size(24, );
          font-size: var(--body-normal);
          border-radius: rootSize(8, );
          border: 1px solid var(--Grey);
          font-family: 'Roboto';
          outline: none;




        }

        .form__submit {
          background-color: var(--Charcoal-Grey);
          color: var(--White);
          width: 100%;
          padding-block: size(18, ) size(14, );
          font-size: var(--body-normal);
          font-weight: 700;
          border-radius: rootSize(8, );
          border: 1px solid transparent;
          line-height: 1.5;

          &:hover {
            background-color: var(--Tomato);
            color: white;
          }

        }

        .invalid {
          // font-family: 'Roboto Flex';
          line-height: 1.5;
          // border-color: var(--Tomato);
          background-color: var(--Tomato-Light);
          color: var(--Tomato);
          border: 1px solid var(--Tomato)
        }

      }
    }
  }

  .box2 {
    display: flex;
    margin-inline: size(24, );

    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: size(263, );
      min-height: 100vh;
      padding-block-start: 149px;

      .email__active img {
        margin-bottom: size(40, );

      }

      .title {
        font-weight: bold;
        font-size: rootSize(40, );
        line-height: var(--lh-100);
        color: var(--Dark-Slate-Grey);
        margin-bottom: size(24, 40);
      }
    }
  }

  .btn {
    background-color: black;
    color: var(--White);
    width: 100%;
    padding-block: size(18, ) size(14, );
    font-size: var(--body-normal);
    font-weight: 700;
    border-radius: rootSize(8, );
    border: 1px solid transparent;
    line-height: 1.5;

  }
}

@media (min-width:529px) {
  body {
    background-color: var(--Charcoal-Grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .wrapper {
    // background-color: var(--White);
    background-color: var(--Charcoal-Grey);
    max-width: 928px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    // margin-inline: 10px;
    justify-content: center;
    align-items: center;
    padding: 1em;


    .box {

      display: flex;
      flex-direction: row-reverse;
      padding: size(24, );
      padding-left: 0;
      border-radius: size(36, );
      min-width: 100%;
      justify-content: center;
      align-items: center;
      // display: none;
      max-height: 641px;


      &.hide {
        display: none;
      }



      .header {
        // grid-column: 2;
        // align-self: stretch;
        // width: 100%;
        // height: 100%;
        border-radius: size(16, );
        align-self: stretch;
        max-width: 400px;

        & img {

          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          max-width: 400px;
          border-radius: inherit;
        }

      }

      .main {

        padding: 0;
        margin-inline: size(64, );


        .promots {
          .promots__title {
            font-size: rootSize(56, );
            line-height: 100%;
          }

          .promots__ul {

            & li::before {
              height: size(24, );
            }
          }

        }

        .form {
          .form__email {
            font-size: 1rem;
            line-height: 1.5;

            &:focus {
              cursor: pointer;
              outline-color: var(--Grey);
              outline-width: 0.5px
            }
          }

          .form__submit {
            border: none;

            &:hover {
              cursor: pointer;
            }

            &:active {
              background-color: var(--Tomato);
              color: white;
            }
          }
        }

      }



    }

    .box2 {
      display: flex;
      height: auto;
      width: auto;
      border-radius: size(36, );
      padding: size(64, );
      padding-top: size(48, );
      max-width: 504px;

      &.hide {
        display: none;
      }

      .main {
        display: flex;
        flex-direction: column;
        row-gap: size(10, );
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding-block-start: 0;
        row-gap: size(40, );

        .btn {
          cursor: pointer;
        }

        .btn:hover {

          background-color: var(--Tomato);
          color: white;

        }

      }
    }



  }

}