*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Tomato-Light: rgba(255, 98, 87, 0.15);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  font-family: "Roboto";
  --body-small: 12px;
  --body-normal: 16px;
  --lh-150: 1.5;
  --lh-100: 1;
}

@font-face {
  font-family: "Roboto";
  src: url(../02-newsletter/assets/fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../02-newsletter/assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  min-width: 375px;
}
.wrapper .box,
.wrapper .box2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}
.wrapper .box.hide,
.wrapper .box2.hide {
  display: none;
}
.wrapper .box .header,
.wrapper .box2 .header {
  width: 100%;
}
.wrapper .box .header img,
.wrapper .box2 .header img {
  width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Remove any extra spacing */
}
.wrapper .box .main,
.wrapper .box2 .main {
  padding: 2.5em 1.5em;
}
.wrapper .box .main .promots,
.wrapper .box2 .main .promots {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-bottom: 2.5em;
}
.wrapper .box .main .promots .promots__title,
.wrapper .box2 .main .promots .promots__title {
  font-size: 2.5rem;
}
.wrapper .box .main .promots__desc,
.wrapper .box2 .main .promots__desc {
  line-height: var(--lh-150);
}
.wrapper .box .main .promots .promots__ul,
.wrapper .box2 .main .promots .promots__ul {
  list-style: none;
}
.wrapper .box .main .promots .promots__ul li,
.wrapper .box2 .main .promots .promots__ul li {
  display: flex;
  line-height: 1.5;
  margin-bottom: 0.625em;
}
.wrapper .box .main .promots .promots__ul li::before,
.wrapper .box2 .main .promots .promots__ul li::before {
  content: url(../02-newsletter/assets/images/icon-list.svg);
}
.wrapper .box .main .promots .promots__ul li:last-child,
.wrapper .box2 .main .promots .promots__ul li:last-child {
  margin-bottom: 0;
}
.wrapper .box .main .promots .promots__ul li span,
.wrapper .box2 .main .promots .promots__ul li span {
  margin-left: 1rem;
}
.wrapper .box .main .form,
.wrapper .box2 .main .form {
  display: grid;
  row-gap: 1.5em;
}
.wrapper .box .main .form .form__labels,
.wrapper .box2 .main .form .form__labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper .box .main .form .form__email-label,
.wrapper .box2 .main .form .form__email-label {
  font-size: var(--body-small);
  line-height: var(--lh-150);
  margin-bottom: 0.5em;
  display: inline-block;
  font-weight: 700;
}
.wrapper .box .main .form .email--invalid,
.wrapper .box2 .main .form .email--invalid {
  color: var(--Tomato);
  display: none;
}
.wrapper .box .main .form .form__email,
.wrapper .box2 .main .form .form__email {
  display: block;
  width: 100%;
  padding: 1em 1.5em;
  font-size: var(--body-normal);
  border-radius: 0.5rem;
  border: 1px solid var(--Grey);
  font-family: "Roboto";
  outline: none;
}
.wrapper .box .main .form .form__submit,
.wrapper .box2 .main .form .form__submit {
  background-color: var(--Charcoal-Grey);
  color: var(--White);
  width: 100%;
  padding-block: 1.125em 0.875em;
  font-size: var(--body-normal);
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  line-height: 1.5;
}
.wrapper .box .main .form .form__submit:hover,
.wrapper .box2 .main .form .form__submit:hover {
  background-color: var(--Tomato);
  color: white;
}
.wrapper .box .main .form .invalid,
.wrapper .box2 .main .form .invalid {
  line-height: 1.5;
  background-color: var(--Tomato-Light);
  color: var(--Tomato);
  border: 1px solid var(--Tomato);
}
.wrapper .box2 {
  display: flex;
  margin-inline: 1.5em;
}
.wrapper .box2 .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16.4375em;
  min-height: 100vh;
  padding-block-start: 149px;
}
.wrapper .box2 .main .email__active img {
  margin-bottom: 2.5em;
}
.wrapper .box2 .main .title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: var(--lh-100);
  color: var(--Dark-Slate-Grey);
  margin-bottom: 0.6em;
}
.wrapper .btn {
  background-color: black;
  color: var(--White);
  width: 100%;
  padding-block: 1.125em 0.875em;
  font-size: var(--body-normal);
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  line-height: 1.5;
}

@media (min-width: 529px) {
  body {
    background-color: var(--Charcoal-Grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .wrapper {
    background-color: var(--Charcoal-Grey);
    max-width: 928px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  .wrapper .box {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5em;
    padding-left: 0;
    border-radius: 2.25em;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    max-height: 641px;
    gap: 4em;
  }
  .wrapper .box.hide {
    display: none;
  }
  .wrapper .box .header {
    border-radius: 1em;
    align-self: stretch;
    max-width: 400px;
  }
  .wrapper .box .header img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    max-width: 400px;
    border-radius: inherit;
  }
  .wrapper .box .main {
    padding: 0;
    padding-left: 64px;
  }
  .wrapper .box .main .promots .promots__title {
    font-size: 3.5rem;
    line-height: 100%;
  }
  .wrapper .box .main .promots .promots__ul li::before {
    height: 1.5em;
  }
  .wrapper .box .main .form .form__email {
    font-size: 1rem;
    line-height: 1.5;
  }
  .wrapper .box .main .form .form__email:focus {
    cursor: pointer;
    outline-color: var(--Grey);
    outline-width: 0.5px;
  }
  .wrapper .box .main .form .form__submit {
    border: none;
  }
  .wrapper .box .main .form .form__submit:hover {
    cursor: pointer;
  }
  .wrapper .box .main .form .form__submit:active {
    background-color: var(--Tomato);
    color: white;
  }
  .wrapper .box2 {
    display: flex;
    height: auto;
    width: auto;
    border-radius: 2.25em;
    padding: 4em;
    padding-top: 3em;
    max-width: 504px;
  }
  .wrapper .box2.hide {
    display: none;
  }
  .wrapper .box2 .main {
    display: flex;
    flex-direction: column;
    row-gap: 0.625em;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-block-start: 0;
    row-gap: 2.5em;
  }
  .wrapper .box2 .main .btn {
    cursor: pointer;
  }
  .wrapper .box2 .main .btn:hover {
    background-color: var(--Tomato);
    color: white;
  }
}/*# sourceMappingURL=index.css.map */