* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 600px;
  font-family: Montserrat;
  width: 100%;
  padding-left: 1.75em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.75em;
  background-color: #F2EAE2;
}
.container .product_card {
  width: 100%;
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
  overflow: hidden;
  background-color: #FFF;
}
.container .product_card .product_pic_container {
  width: 100%;
}
.container .product_card .product_pic_container picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .product_details {
  padding: 1.5em;
}
.container .product_details .product_category {
  color: #6C7289;
  letter-spacing: 0.3125rem;
  margin-bottom: 0.875rem;
}
.container .product_details .product_name {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  font-family: Fraunces;
  margin-bottom: 1rem;
}
.container .product_details .product_description {
  color: #6C7289;
  font-size: 0.875em;
  line-height: 1.4375em;
  margin-bottom: 1.5em;
}
.container .product_details .product_price {
  margin-bottom: 1.25rem;
}
.container .product_details .product_price .product_price_current {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: #3D8168;
  font-family: Fraunces;
}
.container .product_details .product_price .product_price_old {
  margin-left: 1.1875rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #6C7289;
  text-decoration: line-through;
}
.container .product_details .cart_btn {
  width: 100%;
  color: white;
  background-color: #3D8168;
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5rem;
}
.container .product_details .cart_btn .cart_word {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .product_details .cart_btn .cart_word::before {
  content: url("./images/icon-cart.svg");
  display: inline-block;
  margin-inline-end: 0.725625em;
}

@media (min-width: 400px) {
  body {
    background-color: #F2EAE2;
    height: 100vh;
    position: relative;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  .container .product_card {
    flex-direction: row;
    display: flex;
    border-radius: 0.625em;
  }
  .container .product_card .product_pic_container {
    width: 50%;
  }
  .container .product_card .product_pic_container picture {
    width: 100%;
    height: 100%;
  }
  .container .product_card .product_pic_container picture img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .product_card .product_details {
    width: 50%;
    padding: 2rem;
  }
  .container .product_card .product_details .product_category,
  .container .product_card .product_details .product_name {
    margin-bottom: 1.25rem;
  }
  .container .product_card .product_details .product_description {
    margin-bottom: 1.8125rem;
  }
  .container .product_card .product_details .product_price {
    margin-bottom: 1.875rem;
  }
}/*# sourceMappingURL=index.css.map */