@media screen and (max-width: 320px) {}

* {
  box-sizing: border-box;
}

.container {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #F2EAE2;
}

.product_card {
  /* width: 100%; */
  background-color: white;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  overflow: hidden;
}

.product_pic_container {

  /* border-top: */
  margin-bottom: 1.5rem;
  color: #6C7289;
  letter-spacing: 0.3125rem;


}



.product_pic_container img {
  width: 100%;

  /* overflow: hidden; */
  /* overflow: hidden;*/

}

.product_details {}

.product_category {}

.cart_btn {}